sampled_dataset/*
dataset_v1/*

code/Dataset Generator/__pycache__/*
code/Model4_TeamFormation/FT2/*
code/Model4_TeamFormation/FT3_v1/*
**/__pycache__/*
venv
.env
sa_key.json
*.log
uvicorn_log.txt
uvicorn_run.log